---
title: HEDW
---
<div class="linea-de-tiempo">
    <section class="section inicio">
        Historia y Evolución del Diseño Web
    </section><!-- /.section -->
    <section class="section el-comienzo">
            <div class="container">
            <div class="col-lg-12">
                    <h1>El comienzo: Diseño web con Texto</h1>
                    <p>el nacimiento del reciente estándar del lenguaje HTML, hacía que las posibilidades gráficas o multimediales de las páginas web fueran muy limitadas. Existían pocas etiquetas HTML que sólo permitían trabajar con texto e hipertexto, entre otros.La gráfica de esta época corresponde sólo a texto. Los botones están hechos con hipervínculos.</p>
            </div>
            <div class="col-lg-4">
                    <h1>HTML</h1>
                    <p>En HTML, siglas de HyperText Markup Language («lenguaje de marcas de hipertexto»), hace referencia al lenguaje de marcado para la elaboración de páginas web.</p>
                    
            </div>
            <div class="col-lg-4">
                    <h1>HTML</h1>
                    <p>En HTML, siglas de HyperText Markup Language («lenguaje de marcas de hipertexto»), hace referencia al lenguaje de marcado para la elaboración de páginas web.</p>
            </div>
            <div class="col-lg-4">
                    <h1>HTML</h1>
                    <p>En HTML, siglas de HyperText Markup Language («lenguaje de marcas de hipertexto»), hace referencia al lenguaje de marcado para la elaboración de páginas web.</p>
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section">
        section3
    </section><!-- /.section -->
    <section class="section">
        section4
    </section><!-- /.section -->
    <section class="section">
        section5
    </section><!-- /.section -->
</div><!-- /.linea-de-tiempo -->
