---
title: HEDW
---
<div class="linea-de-tiempo">
    <section class="section inicio">
        <div class="overlay">
            <h2 class="titulo-proyecto">
                Historia y Evolución del Diseño Web
            </h2><!-- /.titulo-proyecto -->
            <span class="btn-next-slide" data-anchor="slide2"></span>
        </div><!-- /.overlay -->
    </section><!-- /.section -->
    <section class="section el-comienzo">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">El Comienzo: 1991-1993 Diseño web con texto</h1>
                    <p>el nacimiento del reciente estándar del lenguaje HTML, hacía que las posibilidades gráficas o multimediales de las páginas web fueran muy limitadas. Existían pocas etiquetas HTML que sólo permitían trabajar con texto e hipertexto, entre otros.La gráfica de esta época corresponde sólo a texto. Los botones están hechos con hipervínculos.</p>
            </div>
            <div class="col-lg-4">
                    <h4>HTML</h4>
                    <p>En HTML, siglas de HyperText Markup Language («lenguaje de marcas de hipertexto»), hace referencia al lenguaje de marcado para la elaboración de páginas web.</p>
            </div>
            <div class="col-lg-4">
                    <h4>El Primer Explorador</h4>
                    <p>Mosaic fue el segundo navegador gráfico disponible para visualizar páginas web y el primer navegador gráfico para Microsoft Windows.</p>
            </div>
            <div class="col-lg-4">
                    <h4>Primer Sitio Web</h4>
                    <p>Fue creado por Tim Berners-Lee usando un computador NeXT, y su función era informar sobre la nueva y emocionante World Wide Web.</p>
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section con-tablas">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">1993-1995 Diseño web Con Tablas</h1>
                    <p>Con la llegada de Mosaic en 1993 se consiguen los principales logros gráficos a través de imágenes que se incorporaron. Además, se acerca al usuario común el uso del internet y los navegadores. Aparecen los primeros indicios de Usabilidad e Interface. Se visualizan y distinguen las estructuras básicas de un sitio: Menú, buscador, contenido y footer. </p>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                    imagenes
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section nuevas-tecnologias">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo-epoca">1995-1999 Nuevas tecnologías en Diseño Web</h1>
                    <p>el nacimiento del reciente estándar del lenguaje HTML, hacía que las posibilidades gráficas o multimediales de las páginas web fueran muy limitadas. Existían pocas etiquetas HTML que sólo permitían trabajar con texto e hipertexto, entre otros.La gráfica de esta época corresponde sólo a texto. Los botones están hechos con hipervínculos.</p>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                        <h1>Flash</h1>
                        <p>Flash permitió a los diseñadores y realizadores de páginas web crear entornos gráficos de páginas webs vectoriales e interactivos como por ejemplo: botones, paneles de navegación, dibujos técnicos, banners de anuncios y todo lo que sabemos que se puede hacer con flash.</p>
                </div>
                <div class="col-lg-4">
                        <h1>CSS</h1>
                        <p>CSS se utiliza para dar estilo a documentos HTML y XML, separando el contenido de la presentación. Los Estilos definen la forma de mostrar los elementos HTML y XML. CSS permite a los desarrolladores Web controlar el estilo y el formato de múltiples páginas Web al mismo tiempo.</p>
                </div>
                <div class="col-lg-4">
                        <h1>Javascript</h1>
                        <p>Javascript es un lenguaje con muchas posibilidades, utilizado para crear pequeños programas que luego son insertados en una página web y en programas más grandes, orientados a objetos mucho más complejos. Podemos crear diferentes efectos e interactuar con nuestros usuarios.</p>
                </div>
                <div class="col-lg-4">
                        <p>Aunque Flash ni CSS eran utilizados masivamente aún debido a que pocos navegadores soportaban el estándar, permitió dar los primeros pasos para comenzar a ser utilizado de manera masiva más adelante. Recordemos que en esta época la velocidad de banda era apenas 28k/sg.</p>
                </div>
                <div class="col-lg-4">
                </div>
            </div><!-- /.row -->
        </div>
    </section><!-- /.section -->
    <section class="section ascenso">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">1999-2005 El ascenso de Flash y Javascript </h1>
                    <p>En esta época se concretan y masifican tecnologías que ya habían aparecido pero que faltaban por optimizar o implementar en todos los navegadores.</p>
            </div>
            <div class="col-lg-4">
                    <p>En el 2000, Internet Explorer se convierte en el primer explorador en soportar perfectamente los estándares de HTML, CSS y Javascprit, por lo cual su difusión entre los usuarios del mundo se hizo evidente, permitiendo que sitios que usaban esta tecnología pudieran ser visualizados por casi cualquier persona en computadores que tuvieran IE.</p>
            </div>
            <div class="col-lg-8">
                    <h1>El boom de Macromedia Flash</h1>
                    <p>En esta década Flash se hizo más popular gracias al aumento de sus características y se convirtió en un plugin estándar incluido en casi todos los navegadores Web. Con esto permitió a los diseñadores y realizadores de páginas web crear entornos gráficos de páginas webs vectoriales e interactivos como por ejemplo: botones, paneles de navegación, dibujos técnicos, banners de anuncios y todo lo que sabemos que se puede hacer con flash.</p>
            </div>
        </div>
    </section><!-- /.section -->
</div><!-- /.linea-de-tiempo -->
