---
title: HEDW
---
<div class="linea-de-tiempo">
    <section class="section inicio">
        Historia y Evolución del Diseño Web
    </section><!-- /.section -->
    <section class="section el-comienzo">
        <div class="container">
            <div class="col-lg-6">
                <h1>El comienzo</h1>
                    <p>La World Wide Web comenzó a existir en 1991, y a más de 20 años de su creación, el primer sitio web del mundo está almacenado por la W3C, que lo conserva para que recordemos la historia. Fue creado por Tim Berners-Lee usando un computador NeXT, y su función era informar sobre la nueva y emocionante World Wide Web.</p>
                    <p>Los visitantes podían aprender más sobre el proyecto, cosas sobre el hipertexto, detalles técnicos para crear una página web, y una explicación de cómo buscar información en la web (algo complicado porque no había buscadores). Por esos tiempos, los únicos que tenían un navegador eran Berners-Lee y sus colegas del CERN, así que la primera página web no tenía mucha difusión que digamos.</p>
            </div>
            <div class="col-lg-6">
                aquí va el ejemplo de web
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section">
        section3
    </section><!-- /.section -->
    <section class="section">
        section4
    </section><!-- /.section -->
    <section class="section">
        section5
    </section><!-- /.section -->
</div><!-- /.linea-de-tiempo -->
