---
title: HEDW
---
<div class="linea-de-tiempo">
    <section class="section inicio">
        <div class="overlay">
            <h2 class="titulo-proyecto">Historia y Evolución del Diseño Web</h2>
            <a href="#el-comienzo" class="btn-next-slide"></a>
        </div><!-- /.overlay -->
    </section><!-- /.section -->
    <section class="section el-comienzo">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">El Comienzo: 1991-1993 Diseño web con texto</h1>
                    <p class="bajada">el nacimiento del reciente estándar del lenguaje HTML, hacía que las posibilidades gráficas o multimediales de las páginas web fueran muy limitadas. Existían pocas etiquetas HTML que sólo permitían trabajar con texto e hipertexto, entre otros.La gráfica de esta época corresponde sólo a texto. Los botones están hechos con hipervínculos.</p>
            </div>
            <div class="col-lg-4">
                <div class="recuadro-texto">
                    <h4 class="subt">HTML</h4>
                    <p class="text">En HTML, siglas de HyperText Markup Language («lenguaje de marcas de hipertexto»), hace referencia al lenguaje de marcado para la elaboración de páginas web.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recuadro-texto">
                    <h4 class="subt">El Primer Explorador</h4>
                    <p class="text">Mosaic fue el segundo navegador gráfico disponible para visualizar páginas web y el primer navegador gráfico para Microsoft Windows.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recuadro-texto">
                    <h4 class="subt">Primer Sitio Web</h4>
                    <p class="text">Fue creado por Tim Berners-Lee usando un computador NeXT, y su función era informar sobre la nueva y emocionante World Wide Web.</p>
                </div>
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section con-tablas">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">1993-1995 Diseño web Con Tablas</h1>
                    <p class="bajada">Con la llegada de Mosaic en 1993 se consiguen los principales logros gráficos a través de imágenes que se incorporaron. Además, se acerca al usuario común el uso del internet y los navegadores. Aparecen los primeros indicios de Usabilidad e Interface. Se visualizan y distinguen las estructuras básicas de un sitio: Menú, buscador, contenido y footer. </p>
            </div>
        </div>
        <img class="img-responsive foto-tablas" src="images/tablas_foto.png">
    </section><!-- /.section -->
    <section class="section nuevas-tecnologias">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo-epoca">1995-1999 Nuevas tecnologías en Diseño Web</h1>
                    <p class="bajada">el nacimiento del reciente estándar del lenguaje HTML, hacía que las posibilidades gráficas o multimediales de las páginas web fueran muy limitadas. Existían pocas etiquetas HTML que sólo permitían trabajar con texto e hipertexto, entre otros.La gráfica de esta época corresponde sólo a texto. Los botones están hechos con hipervínculos.</p>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                        <h1>Flash</h1>
                        <p>Flash permitió a los diseñadores y realizadores de páginas web crear entornos gráficos de páginas webs vectoriales e interactivos como por ejemplo: botones, paneles de navegación, dibujos técnicos, banners de anuncios y todo lo que sabemos que se puede hacer con flash.</p>
                </div>
                <div class="col-lg-4">
                        <h1>CSS</h1>
                        <p>CSS se utiliza para dar estilo a documentos HTML y XML, separando el contenido de la presentación. Los Estilos definen la forma de mostrar los elementos HTML y XML. CSS permite a los desarrolladores Web controlar el estilo y el formato de múltiples páginas Web al mismo tiempo.</p>
                </div>
                <div class="col-lg-4">
                        <h1>Javascript</h1>
                        <p>Javascript es un lenguaje con muchas posibilidades, utilizado para crear pequeños programas que luego son insertados en una página web y en programas más grandes, orientados a objetos mucho más complejos. Podemos crear diferentes efectos e interactuar con nuestros usuarios.</p>
                </div>
                <div class="col-lg-4">
                        <p>Aunque Flash ni CSS eran utilizados masivamente aún debido a que pocos navegadores soportaban el estándar, permitió dar los primeros pasos para comenzar a ser utilizado de manera masiva más adelante. Recordemos que en esta época la velocidad de banda era apenas 28k/sg.</p>
                </div>
                <div class="col-lg-4">
                </div>
            </div><!-- /.row -->
        </div>
    </section><!-- /.section -->
    <section class="section ascenso">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">1999-2005 El ascenso de Flash y Javascript </h1>
                    <p class="bajada">En esta época se concretan y masifican tecnologías que ya habían aparecido pero que faltaban por optimizar o implementar en todos los navegadores.</p>
            </div>
            <div class="col-lg-4">
                    <p>En el 2000, Internet Explorer se convierte en el primer explorador en soportar perfectamente los estándares de HTML, CSS y Javascprit, por lo cual su difusión entre los usuarios del mundo se hizo evidente, permitiendo que sitios que usaban esta tecnología pudieran ser visualizados por casi cualquier persona en computadores que tuvieran IE.</p>
            </div>
            <div class="col-lg-8">
                    <h1>El boom de Macromedia Flash</h1>
                    <p>En esta década Flash se hizo más popular gracias al aumento de sus características y se convirtió en un plugin estándar incluido en casi todos los navegadores Web. Con esto permitió a los diseñadores y realizadores de páginas web crear entornos gráficos de páginas webs vectoriales e interactivos como por ejemplo: botones, paneles de navegación, dibujos técnicos, banners de anuncios y todo lo que sabemos que se puede hacer con flash.</p>
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section ascenso_prt2">
        <div class="container">
            <div class="col-lg-12">
                    <p>Esto creó un nuevo elemento que antes no estaba considerado en la elaboración de sitios web, y es la Experiencia de Usuario (UX). Ahora, aparte de considerar una estrategia basada en la usabilidad y arquitectura de la información, también un elemento a considerar era en cómo hacer sentir al usuario al navegar en un sitio web. Esto cobró realmente mucha importancia, pues cada vez era más soprendente navegar por internet.</p>
            </div>
             <div class="col-lg-4">
                <div class="recuadro-texto">
                    <h4 class="subt">Javascript</h4>
                    <p class="text">Javascript permitió darle inteligencia a las páginas web. Con JS se podían hacer menús dinámicos y animaciones sin la necesidad de utilizar Flash, lo que permitió rápidamente que se convirtiera en una herramienta utilizada por diseñadores y desarrolladores. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recuadro-texto">
                    <h4 class="subt">PHP</h4>
                    <p class="text">Con la aparición del lenguaje PHP, la administración de bases de datos pronto sería un elemento indispensable para la administración de los sitios web.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recuadro-texto">
                    <h4 class="subt">Mail</h4>
                    <p class="text">El correo personal o e-mail se vuelve una herramienta que todo usuario de internet debe poseer. Compañías como Yahoo y Hotmail se vuelven pioneras en este área. Si bien, el correo electrónico antecede a internet, en esta época es donde tendrá mayor protagonismo.</p>
                </div>
            </div>
        </div>
    </section><!-- /.section -->
    <section class="section web2-0">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">2005-2009 Surgimiento de la Web 2.0</h1>
                    <p class="bajada">Web 2.0 o Internet 2.0 es una denominación bastante optimista, que da la impresión de un internet totalmente nuevo, interactivo, colaborativo, democrático y sociable frente a todo lo que había sido antes: estático y pasivo. Y este periodo así lo fue. Tim Berners-Lee ha dicho que esta fue su idea de la web desde el principio.</p>
            </div>
            <div class="col-lg-4">
                    <p>Aparecen en la escena redes sociales tales como MySpace, Facebook, Twitter, Youtube, entre otras, que permiten al usuario, como nunca antes, agregar contenido propio, compartir en tiempo real e interactuar con otros usuarios y ser creadores del contenido que antes era estático.</p>
            </div>
            <div class="col-lg-8">
                    <p>Los celulares pronto serán teléfonos inteligentes y tendrán un importante papel en el despegue masivo de estas redes sociales. Al principio de esta época, si bien el uso de Flash sigue teniendo importancia, comienza a perderla debido al auge de CSS y el Javascript.</p>
            </div>
        </div>
    </section><!-- /.section -->
     <section class="section actualidad">
        <div class="container">
            <div class="col-lg-12">
                    <h1 class="titulo-epoca">2009-Actualidad: La Web Digital</h1>
            </div>
            <div class="col-lg-4">
                    <p>La gráfica cambia, se alínea y se encamina a un fin común: Usabilidad, Experiencia de Usuario, Arquitectura de la Información y la Interfaz de Usuario. Estos elementos convergen en todos los sitios actuales, donde la importancia de cómo y dónde colocar un simple elemento en una página web puede influye.</p>
            </div>
            <div class="col-lg-4">
                    <p>Aparecen gráficas completamente vectoriales de colores planos, botones sutiles y enormes, fondos planos y colores poco saturados. La diagramación se vuelve más libre y se juega con todo el ancho de las pantallas. Este cambio gráfico responde a la necesidad de optimizar la visualización de las páginas que visitamos en escritorio a celulares.</p>
            </div>
            <div class="col-lg-4">
                    <p>La manera de comunicar gráficamente ya no es estática. La creación de un sitio web se vuelve poco a poco en un relato, en algo multimedial e incluso tiene algo de audiovisual. Hay sitios que para implementarse necesitan storyboards que expliquen el flujo y la manera en cómo van a ser visualizados en los navegadores.</p>
            </div>
        </div>
    </section><!-- /.section -->
</div><!-- /.linea-de-tiempo -->
<div class="modal fade" id="acercaDe" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title">Acerca de</h4>
            </div>
            <!-- /.modal-header -->
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> </div><!-- /.modal-body -->
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary">Save Changes</button></div>
            <!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#elmodal.modal fade -->

