<header class="main-header">
    <a href="http://ray.cl/hedw/" class="logo pull-left">{{title}}</a>
    <nav class="main-nav pull-right">
        <a href="#" class="item-menu" data-toggle="modal" data-target="#acercaDe">Acerca de</a><span class="separador"> | </span>
        <a href="#" class="item-menu js-menu">Línea de Tiempo <img src="images/sandwich.png" alt=""></a>
        <div class="menu-desplegable">
            <ul class="items-desplegable">
                <li class="una-epoca">
                    <a href="#el-comienzo" class="enlace-epoca">
                        <span class="fecha">1991/1993</span>
                        <br>
                        <h4 class="nombre-epoca">Texto</h4>
                    </a>
                </li><!-- /.una-epoca -->
                <li class="una-epoca">
                    <a href="#diseno-tablas" class="enlace-epoca">
                        <span class="fecha">1993/1995</span>
                        <br>
                        <h4 class="nombre-epoca">Tablas</h4>
                    </a>
                </li><!-- /.una-epoca -->
                <li class="una-epoca">
                    <a href="#nuevas-tecnologias" class="enlace-epoca">
                        <span class="fecha">1995/1999</span>
                        <br>
                        <h4 class="nombre-epoca">Nuevas Tecnologías</h4>
                    </a>
                </li><!-- /.una-epoca -->
                <li class="una-epoca">
                    <a href="#ascenso-flash-javascript" class="enlace-epoca">
                        <span class="fecha">1999/2005</span>
                        <br>
                        <h4 class="nombre-epoca">Ascenso de Flash y Javascript</h4>
                    </a>
                </li><!-- /.una-epoca -->
                <li class="una-epoca">
                    <a href="#web2-0" class="enlace-epoca">
                        <span class="fecha">2005/2009</span>
                        <br>
                        <h4 class="nombre-epoca">Web 2.0</h4>
                    </a>
                </li><!-- /.una-epoca -->
                <li class="una-epoca">
                    <a href="#web-digital" class="enlace-epoca">
                        <span class="fecha">2009/Actualidad</span>
                        <br>
                        <h4 class="nombre-epoca">Web Digital</h4>
                    </a>
                </li><!-- /.una-epoca -->
            </ul>
            <!-- /.items-desplegable -->
        </div><!-- /.menu-desplegable -->
    </nav><!-- /.nav-principal -->
</header>
