<header class="main-header">
    <h1 class="logo pull-left">{{title}}</h1>
    <nav class="main-nav pull-right">
        <a href="#" class="item-menu">Acerca de</a><span class="separador"> | </span>
        <a href="#" class="item-menu">Línea de Tiempo <img src="images/sandwich.png" alt=""></a>
    </nav><!-- /.nav-principal -->
</header>
