<header>
    <h1 class="logo pull-left">{{title}}</h1>
    <nav class="nav-principal pull-right">
        <a href="#">Acerca de</a>
        <a href="#">Línea de Tiempo</a>
    </nav><!-- /.nav-principal -->
</header>
