@charset "UTF-8";

@import 'modules/init';

$gris-oscuro: #2e2e2e;

body {
    font: {
        family: 'Open Sans', sans-serif;
    }
}

a {
    &:hover {
        color: #fff;
    }
}
p {
}
.titulo-epoca {
    font: {
        size: 35px;
    }
    margin: {
        bottom: 30px;
    }
}
.main-header {
    background: {
        color: $gris-oscuro;
    }
    @include scut-clearfix;
    padding: {
        top: 20px;
        bottom: 10px;
        left: 20px;
        right: 20px;
    }
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
}
.item-menu {
    color: #fff;
    line-height: 2.2;
}
.logo {
    display: block;
    text-indent: -9999px;
    background: {
        image: url(../images/hedw.png);
    }
    width: 150px;
    height: 38px;
}
.separador {
    color: #fff;
}
.section {
    &.inicio {
        background: {
            image: url(../images/background.jpg);
            size: cover;
            position: center center;
            attachment: fixed;
        }
    }
    &.el-comienzo {
        background: {
            color: #111;
        }
    }
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: {
        color: rgba(#000, .5);
    }
    top: 0;
    left: 0;
}
.titulo-proyecto {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: {
        image: url(../images/logo_home.png);
    }
    width: 455px;
    height: 500px;
    text-indent: -9999px;
    display: block;
}
.btn-next-slide {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: {
        image: url(../images/btn-next-slide.png);
    }
    width: 76px;
    height: 18px;
    }