@charset "UTF-8";

@import 'modules/init';

$gris-oscuro: #2e2e2e;

.main-header {
    background: {
        color: $gris-oscuro;
    }
    @include scut-clearfix;
    padding: {
        top: 20px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
}
.item-menu {
    color: #fff;
    line-height: 2.2;
}
.logo {
    display: block;
    text-indent: -9999px;
    background: {
        image: url(../images/hedw.png);
    }
    width: 150px;
    height: 38px;
}
.separador {
    color: #fff;
}